/* @import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:ital,wght@0,300;1,100&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Major+Mono+Display&family=Montserrat&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Monoton&display=swap");

:root {
  --font-text: "Hachi Maru Pop", cursive;
  --font-author: "Hachi Maru Pop", cursive;
  --font-footer: "Monoton", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 98vw;
  /* background: linear-gradient(to bottom, #7a2828, #a73737); */
  /* border: 10px solid rgb(219, 188, 188); */
  border: 10px solid white;
  /* border-radius: 0.5%; */
  overflow: hidden;
}

.container {
  padding: 10rem 2rem;
}

svg {
  fill: white;
  color: #1d1d1d;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  height: 100px;
  width: 100px;
}

#text,
#author {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#text {
  text-align: center;
  font-family: var(--font-text);
  font-size: calc(10px + (24 - 16) * (100vw - 320px) / (1920 - 320));
  font-weight: lighter;
  /* color: rgb(219, 188, 188); */
  line-height: 3;
}

#author {
  float: right;
  padding-top: 3%;
  padding-right: 12%;
  font-family: var(--font-author);
  font-size: calc(5px + (24 - 16) * (100vw - 320px) / (1920 - 320));
}

@media screen and (max-width: 600px) {
  #text {
    text-align: center;
    font-family: var(--font-text);
    font-size: calc(11px + (24 - 16) * (100vw - 320px) / (1920 - 320));
    font-weight: lighter;
    /* color: rgb(219, 188, 188); */
    padding: 4rem 2rem 0 2rem;
    line-height: 2.5;
  }

  #author {
    float: right;
    padding-right: 10%;
    font-family: var(--font-author);
    font-size: calc(13px + (24 - 16) * (100vw - 320px) / (1920 - 320));
  }
  .container {
    padding: 2rem 0rem;
  }
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  text-align: center;
}
.alert.warning {
  background-color: #ff9800;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
#visible {
  display: none;
}

.github-corner .octo-arm {
  animation: octocat-wave 2000ms ease-in-out infinite;
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: calc(25px + (24 - 16) * (100vw - 320px) / (1920 - 320));
  background-color: #ee1212d8;
  z-index: -1;
  text-align: center;
  /* text-transform: capitalize; */
  font-size: calc(13px + (24 - 16) * (100vw - 320px) / (1920 - 320));
  font-family: var(--font-footer);
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 2000ms ease-in-out infinite;
  }
}

/* nav {
  border: 2px solid black;
  float: center;
  position: absolute;
} */
