@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Homemade+Apple&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 98vw;
  background: linear-gradient(to bottom, #7a2828, #a73737);
  border: 10px solid rgb(219, 188, 188);
  border-radius: 0.5%;
}
.container {
  padding: 9rem;
}

#text {
  text-align: center;
  font-family: "Homemade Apple", cursive;
  font-size: 250%;
  font-weight: lighter;
  color: rgb(219, 188, 188);
}

#author {
  float: right;
  padding-right: 10%;
  font-family: "Castoro", serif;
  font-size: 250%;
}

@media screen and (max-width: 600px) {
  #text {
    text-align: center;
    font-family: "Homemade Apple", cursive;
    font-size: 100%;
    font-weight: lighter;
    color: rgb(219, 188, 188);
    margin: 10px;
  }

  #author {
    float: right;
    padding-right: 10%;
    font-family: "Castoro", serif;
    font-size: 100%;
  }
  .container {
    padding: 4rem 0rem;
  }
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  text-align: center;
}
.alert.warning {
  background-color: #ff9800;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
#visible {
  display: none;
}
